body{
background : url("code\ pic.png") no-repeat;
background-attachment: fixed;
background-position: center;
}
h1{
    color:red;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(3, 3, 3);
    border-radius: 15px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bar {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
  color: transparent;
    -webkit-text-stroke: 1px #23FF3C;
    position: relative;
}
.bar::before{
    content: "SAGAR";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: #23FF3C;
    border-right: 3px solid #23FF3C;
    transition: 1s ease-in-out;
}
.bar:hover::before{
    width: 100%;
    filter:drop-shadow(0 0 20px #23FF3C);
}
.navbar{
    display: flex;
}
.navbar ul {
list-style: none;
    display: flex;

}

.navbar li{
    margin-bottom: 1rem;
margin-right: 5.5rem;
}
.navbar i{
    color: aliceblue;
    font-size: x-large;
    margin-top: 5.5px;
}

.navbar .sap a{
    text-decoration: none;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
position: fixed;
transition: 300ms ease-in-out;
}
.navbar .sap a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #00FFD9;
    border-bottom: 3px solid #00FFD9;
 }
 .navbar .btn a{
    text-decoration: none;
    font-size: large;
}

 .navbar i{
    display:none;
 }
  .foot{
   display: flex;
   justify-content: center;
   background-color: gray;
   padding: 25px;
   border-radius: 10px;
position: fixed;
}

.sap{
    backdrop-filter: blur(5px);
}
 @media (max-width:850px){
.sap {
    color: blue;
    position: fixed;
  top:12.9%;
  right: -100%;
    width:150px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15.6px 50px 40px;
    row-gap: 25px;
    transition: all .33s ease;
    background: transparent;
    backdrop-filter: blur(5px);

}
 .control{
    display: flex;
 }
 .navbar i{
    display: flex;
    justify-content: end;
    padding-left: 15px;
cursor:pointer;
}

}
.sap.active{
    right:2%;   
     }
     @media (max-width:410px){
.btn button{
    display:none ;
}
.sap{
    width: 100px;
}
  }
  .container {
    position:relative;
    box-sizing: border-box;
    width: fit-content;
    margin-right: 10px;
  }
  
  .mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgb(56, 53, 53);
    transition: all 0.3s ease;
  }
  
  .checkbox:focus {
    border: none;
    outline: none;
  }
  
  .checkbox:checked {
    right: 10px;
  }
  
  .checkbox:checked ~ .mainbox {
    width: 37px;
  }
  
  .checkbox:checked ~ .mainbox .search_input {
    width: 0;
    height: 0px;
  }
  
  .checkbox:checked ~ .mainbox .iconContainer {
    padding-right: 9.5px;
  }
  
  .checkbox {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
  }
  
  .search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: white;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .search_input::placeholder {
    color: rgba(255, 255, 255, 0.776);
  }
  
  .iconContainer {
    box-sizing: border-box;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
  }
  
  .search_icon {
    box-sizing: border-box;
    fill: white;
    font-size: 1.3em;
  }
  @media (max-width:650px){
    .container{
        display:none ;
    }}
    .main_back {
        position: absolute;
        border-radius: 10px;
        transform: rotate(90deg);
        width: 11em;
        height: 11em;
        background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
        z-index: -2;
        box-shadow: inset 0px 0px 180px 5px #ffffff;
      }
      
      .main {
        display: flex;
        flex-wrap: wrap;
        width: 14em;
        align-items: center;
        justify-content: center;
        z-index: -1;
      }
      
      .card {
        width: 60px;
        height: 60px;
        border-top-left-radius: 10px;
        background: lightgrey;
        transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
        background: rgba(255, 255, 255, 0.596);
        backdrop-filter: blur(5px);
        border: 1px solid transparent;
        -webkit-backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .card .instagram {
        opacity: 0;
        transition: .2s ease-in-out;
        fill: #cc39a4;
      }
      
      .card:nth-child(2) {
        border-radius: 0px;
      }
      
      .card:nth-child(2) .twitter {
        opacity: 0;
        transition: .2s ease-in-out;
        fill: #03A9F4;
      }
      
      .card:nth-child(3) {
        border-top-right-radius: 10px;
        border-top-left-radius: 0px;
      }
      
      .card:nth-child(3) .dribble {
        opacity: 0;
        transition: .2s ease-in-out;
        fill: #ffb5d2;
      }
      
      .card:nth-child(4) {
        border-radius: 0px;
      }
      
      .card:nth-child(4) .codepen {
        opacity: 0;
        transition: .2s ease-in-out;
        fill: black;
      }
      
      .card:nth-child(5) {
        border-radius: 0px;
      }
      
      .card:nth-child(5) .uiverse {
        position: absolute;
        margin-left: 0.2em;
        margin-top: 0.2em;
        opacity: 0;
        transition: .2s ease-in-out;
      }
      
      .card:nth-child(6) {
        border-radius: 0px;
      }
      
      .card:nth-child(6) .discord {
        opacity: 0;
        transition: .2s ease-in-out;
        fill: #8c9eff;
      }
      
      .card:nth-child(7) {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 0px;
      }
      
      .card:nth-child(7) .github {
        opacity: 0;
        transition: .2s ease-in-out;
        fill: black;
      }
      
      .card:nth-child(8) {
        border-radius: 0px;
      }
      
      .card:nth-child(8) .telegram {
        opacity: 0;
        transition: .2s ease-in-out;
        fill: #29b6f6;
      }
      
      .card:nth-child(9) {
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
      }
      
      .card:nth-child(9) .reddit {
        opacity: 0;
        transition: .2s ease-in-out;
      }
      
      .main:hover {
        width: 14em;
        cursor: pointer;
      }
      
      .main:hover .main_back {
        opacity: 0;
      }
      
      .main:hover .card {
        margin: .2em;
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.2);
      }
      
      .main:hover .card:nth-child(5) {
        border: transparent;
      }
      
      .main:hover .text {
        opacity: 0;
        z-index: -3;
      }
      
      .main:hover .instagram {
        opacity: 1;
      }
      
      .main:hover .twitter {
        opacity: 1;
      }
      
      .main:hover .dribble {
        opacity: 1;
      }
      
      .main:hover .codepen {
        opacity: 1;
      }
      
      .main:hover .uiverse {
        opacity: 1;
      }
      
      .main:hover .discord {
        opacity: 1;
      }
      
      .main:hover .github {
        opacity: 1;
      }
      
      .main:hover .telegram {
        opacity: 1;
      }
      
      .main:hover .reddit {
        opacity: 1;
      }
      
      .card:nth-child(1):hover {
        background-color: #cc39a4;
      }
      
      .card:nth-child(1):hover .instagram {
        fill: white;
      }
      
      .card:nth-child(2):hover {
        background-color: #03A9F4;
      }
      
      .card:nth-child(2):hover .twitter {
        fill: white;
      }
      
      .card:nth-child(3):hover {
        background-color: #ffb5d2;
      }
      
      .card:nth-child(3):hover .dribble {
        fill: white;
      }
      
      .card:nth-child(4):hover {
        background-color: #1E1F26;
      }
      
      .card:nth-child(4):hover .codepen {
        fill: white;
      }
      
      .card:nth-child(5):hover {
        animation: backgroundIMG .1s;
        animation-fill-mode: forwards;
      }
      
      .card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
        stop-color: white;
      }
      
      .card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
        stop-color: white;
      }
      
      .card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
        stop-color: white;
      }
      
      @keyframes backgroundIMG {
        100% {
          background-image: linear-gradient(#BF66FF,#6248FF,#00DDEB);
        }
      }
      
      .card:nth-child(6):hover {
        background-color: #8c9eff;
      }
      
      .card:nth-child(6):hover .discord {
        fill: white;
      }
      
      .card:nth-child(7):hover {
        background-color: black;
      }
      
      .card:nth-child(7):hover .github {
        fill: white;
      }
      
      .card:nth-child(8):hover {
        background-color: #29b6f6;
      }
      
      .card:nth-child(8):hover .telegram > path:nth-of-type(1) {
        fill: white;
      }
      
      .card:nth-child(8):hover .telegram > path:nth-of-type(2) {
        fill: #29b6f6;
      }
      
      .card:nth-child(8):hover .telegram > path:nth-of-type(3) {
        fill: #29b6f6;
      }
      
      .card:nth-child(9):hover {
        background-color: rgb(255,69,0);
      }
      
      .card:nth-child(9) .reddit > g circle {
        fill: rgb(255,69,0);
      }
      
      .card:nth-child(9) .reddit > g path {
        fill: white;
      }
      
      .text {
        position: absolute;
        font-size: 0.7em;
        transition: .4s ease-in-out;
        color: black;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.33em;
        z-index: 3;
      }
  
  


    
    
 



 





/* * {
    margin: 0;
    padding: 0;

}

body {
    background-color: #dd1a1a;
    font-family: Arial, sans-serif;
}

.haha{
    display: flex;
    justify-content: space-evenly;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}
.navbar :hover{

    color: #64FF24;
}

.brand-title {
    color: #fff;
    font-size: 1.5rem;
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 3rem;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
        margin: 1rem 0;
    }

    .navbar-links.active {
        display: flex;
    }
}  */
